
body {
    margin: 0;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mde-inputer {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
}

.mde-line-leftMargin {
    cursor: default;
    text-align: right;
}

.mde-line-number {
    margin-right: 10px;
}

.mde-document {
    z-index: -1;
    overflow-y: scroll;
    overflow-x: auto;
    word-break: normal;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.mde-document-container {
    z-index: 1;
}

.mde-cursor {
    z-index: 0;
}

.mde-cursor.major {
    z-index: 0;
}

.mde-word-h1 {
    font-size: 20px;
    font-weight: bold;
}

.mde-word-h2 {
    font-weight: bold;
}

.mde-word-h3 {
    font-weight: bold;
}

.mde-word-bold {
    font-weight: bold;
}

.mde-word-italic {
    font-style: italic;
}

.mde-word-underline {
    text-decoration: underline;
}

.mde-word-listItemStart {
    font-weight: bold;
}

.mde-word-blockquoteStart {
    font-weight: bold;
}

.mde-line-number {
    padding: 2px;
    font-size: 14px;
    opacity: 0.5;
}

.mde-splitter {
    z-index: 10;
    cursor: col-resize;
}

.mde-toolbar {
    background: grey;
    z-index: 5;
}

.mde-scrollbar-train {
    background: grey;
    opacity: 0.5;
}

.mde-toolbar::-webkit-scrollbar {
    display: none;
}

.mde-preview-button {
    z-index: 50;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    opacity: 0.8;
}

.mde-preview-document-container {
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    padding: 22px;
}

.mde-preview {
    overflow-y: hidden;
}

.mde-preview::-webkit-scrollbar {
    display: none;
}

.mde-preview-document::-webkit-scrollbar {
    display: none;
}

.mde-document::-webkit-scrollbar {
    display: none;
}

.mde-button {
    color: white;
    opacity: 0.6;
}

.mde-button:hover {
    opacity: 1;
}

.mde-button .active {
    opacity: 1;
}

.mde-left-panel {
    background: lightgrey;
}

.mde-left-panel-nav {
    background: grey;
}
