
body {
    margin: 0;
}

.mde-cursor {
    background: black;
}

.mde-word-bold {
    font-weight: bold;
}

.mde-word-italic {
    font-style: italic;
}

.mde-word-underline {
    text-decoration: underline;
}

.mde-line-number {
    padding: 2px;
    font-size: 14px;
    opacity: 0.5;
}

.mde-splitter {
    background: black;
    cursor: col-resize;
}

.mde-toolbar {
    background: grey;
}

.mde-scrollbar {
    background: lightgray;
}

.mde-scrollbar-train {
    background: grey;
    opacity: 0.5;
}

.mde-toolbar::-webkit-scrollbar {
    display: none;
}

.mde-document::-webkit-scrollbar {
    display: none;
}

.mde-button {
    color: white;
    opacity: 0.6;
}

.mde-button:hover {
    opacity: 1;
}

.mde-button .active {
    opacity: 1;
}

.mde-left-panel {
    background: lightgrey;
}

.mde-left-panel-nav {
    background: grey;
}
