.mde-editor {
    font-family: "Microsoft YaHei", sans-serif;
}

.mde-preview-document-container {
    font-family: "Microsoft YaHei", sans-serif;
}

.mde-preview-document-container code {
    font-family: "consolas", "Microsoft YaHei";
}

.mde-preview-document-container pre {
    font-family: "consolas", "Microsoft YaHei";
}

.mde-word-pre {
    font-family: "consolas", "Microsoft YaHei";
}
