.mde-cursor {
    background: grey;
}

.mde-cursor.major {
    background: #000000;
}

.mde-document {
    background: #F8F8FF;
}

.mde-preview {
    background: #F8F8FF;
}

.mde-word-h1 {
    color: #445588;
}

.mde-word-h2 {
    color: #990000;
}

.mde-word-pre {
    color: #999999;
}

.mde-word-htmlPunct {
    color: #121289;
}

.mde-word-htmlAttribute {
    color: #0A8585;
}

.mde-word-htmlString {
    color: #DD1144;
}

.mde-word-listItemStart {
    color: #009999;
}

.mde-word-blockquoteStart {
    color: #222222;
}

.mde-word-squareBracket {
    font-weight: bold;
}

.mde-word-htmlComment {
    color: #999988;
}

.mde-splitter {
    background: black;
}

.mde-toolbar {
    background: grey;
}

#searchbox {
    background: grey;
}

.mde-scrollbar {
    border-left: 1px;
    border-left-color: lightgrey;
    border-left-style: solid;
}

.mde-scrollbar-train {
    background: #bdbdbd;
}

.mde-preview-button {
    background: grey;
}

.mde-button {
    color: white;
}

.mde-left-panel {
    background: lightgrey;
}

.mde-left-panel-nav {
    background: grey;
}

.mde-document-selection-atom {
    background: lightsteelblue;
}

.mde-document-selection-atom.major {
    background: #26ABF2;
}

.mde-config-mask {
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
