
body {
    margin: 0;
}

.mde-word-bold {
    font-weight: bold;
}

.mde-word-italic {
    font-style: italic;
}

.mde-word-underline {
    text-decoration: underline;
}

.mde-toolbar::-webkit-scrollbar {
    display: none;
}

.mde-document::-webkit-scrollbar {
    display: none;
}
